* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: #f28f16;
  text-align: center;
  height: 60px;
  font-size: 40px;
  line-height: 100px;
  border: 5px solid white;
  font-family: sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}

h2 {
  background-color: #2c313c;
  text-align: center;
  color: white;
}

h4 {
  background-color: #2c313c;
  height: 40px;
  width: 100%;
  border: 5px solid #f28f16;
}

.body {
  background-color: black;
}

.section-padding {
  padding: 70px 0;
}

.p.h1 {
  border-radius: 20px;
}

.navbar-nav .a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-bar .navbar-brand {
  color: #2ba8d9;
}

.navbar-dark .navbar-brand {
  color: #f28f16;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: black;
}

.w-100 {
  height: 100vh;
}

.nav-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.btm-primary {
  background-color: #2ba8d9;
}

.services .card-body .i {
  font-size: 50px;
}

.team .card-body .i {
  font-size: 20px;
}

.footer {
  padding: 80px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}

.footer-links h5 {
  font-size: 20px;
  color: white;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #f28f16;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.footer-links ul li a:hover {
  color: white;
  padding-left: 6px;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: #f28f16;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.social-link a:hover {
  background-color: #2ba8d9;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: green;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  text-decoration: none;
  color: green;
  background-color: #ffffff;
}

.nleft {
  background-image: url(img/lavautoclean.jpg);
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: white;
}

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2.1fr);
  grid-gap: 50px;
  margin-top: 90px;
  box-sizing: border-box;
}

.container-form h2 {
  color: #f28f16;
  margin-bottom: 15px;
  font-size: 35px;
  box-sizing: border-box;
}

.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: #2c313c;
  font-weight: 700;
  box-sizing: border-box;
}

.container-form a i {
  color: #f28f16;
  margin-right: 10px;
}

.container-form form .campo,
textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
  box-sizing: border-box;
}

.container-form form textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}

.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: #f28f16;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}

.container-form .btn-enviar {
  background: #2bd934;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 3px;
}

.googlemapsss {
  height: 200px;
  width: 100%;
  background-color: rgb(47, 179, 255);
  display: flex;
  border: 4px solid;
}

#googlemaps {
  height: 192px;
  width: 1400px;
}

@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .w-100 {
    height: 70vh;
  }
  .about-text {
    padding-top: 50px;
  }
  .card {
    margin-bottom: 30px;
  }
  .section-padding {
    padding: 50px 0;
  }
  .footer-row {
    text-align: center;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}
.h1servicios {
  color: #f28f16;
  background-color: #2c313c;
  text-align: center;
  height: 200px;
  font-size: 40px;
  line-height: 100px;
  border: 5px solid #f28f16;
  font-family: sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */